* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #ECD9CB;
    --nav-color: #D4A787; 
    --navB-color: #EBD9CC;
    --navB-cover-color: #F4EAE2;
    --intro-color: #E3CAB8;
}

.main-page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--main-color);
}

header {
    grid-row: 1;
    padding: 1.5rem;
    background-color: var(--nav-color);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

nav button {
    font-size: 1.2rem;
    padding: 0.5rem 7rem;
    border: solid 1px var(--nav-border);
    border-radius: 40px;
    background-color: var(--navB-color);
}

nav button:hover {
    background-color: var(--navB-cover-color);
}

#content {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    
    gap: 2rem;
    align-items: stretch;
    
    padding: 2rem;
}

.introduction {
    background-color: var(--intro-color);
    border-radius: 40px 80px;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.introduction h1 {
    text-align: center;
    font-size: 3rem;
}

.introduction p {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2em;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

img {
    border-radius: 80px 40px;
    overflow: hidden;
}